body {
  background: rgb(34,34,34)
}

.name {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  color: white;
  text-align: center;
  /*margin-top: 20%;*/
}

.insta-img {
  position: fixed;
  margin-top: 10px;
  top: 65%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
}

.gh-img {
  position: fixed;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}


.sunflower {
  font-family: 'Sunflower';
  font-size: 40px;
}

.binary {
  position: fixed;
  top:50%;
  left: 50%;
  font-size: 120px;
  color: rgb(36, 36, 36);
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: -1;
}
